*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
    font-weight: 1000;
}

.background {
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: -12rem;
    margin-left: -60rem;
    height: 67rem;
    width: 67rem;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
}

.logo {
    margin: auto;
    position: absolute;
    width: 4rem;
    margin-top: -2rem;
    margin-left: -17rem;
}

.sesion{
    background-color: #191717;
    font-weight: bolder;
    color: white;
    padding: 0.7rem;
    border-radius: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 64rem;
    position: absolute;
} 

.indice {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0)
}

.indice h2{
    color: white !important;
    font-weight: bolder;
}

.howto{
    padding: 3rem;
    padding-left: 5rem;
    color: rgb(255, 255, 255) !important;
    margin-left: 7.5rem;
    margin-top: 5rem;
    border-radius: 40px; 
    display: flex;
    flex-direction: column;
    text-align: center;

} 

.howto h2{
    font-weight: bolder;
    font-size: 26px;
}

.howto h6{
    font-weight: lighter;
    font-size: 15px;
}

.info {
    width: 80px;
    margin-left: 330px;
}

.card{
    background-color: #191717 !important;
    padding: 50px;
    margin-right: 7rem;
    margin-top: 3rem;
    color: white;
    border-color: aliceblue !important;
} 

.card-header {
    text-align: center;
    background-color: #191717 !important;
}

label{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.entradas {
    margin-top: 130px;
}