*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-link{
    color: rgb(255, 255, 255) !important;
    font-weight: 1000;
}

.background {
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: -5rem;
    margin-left: -30rem;
    height: 67rem;
    width: 67rem;
    transform: rotate(55deg);
    position: absolute;
    z-index: -1;
}

.sesion{
    background-color: #191717;
    font-weight: bolder;
    color: white;
    padding: 0.7rem;
    border-radius: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: 64rem;
    position: absolute;
}

.filtro{
    margin-top: 10px;
    background-color: #312C2C;
    border: 1px solid #B7B7B7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 100px;

}

.buscador{
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 90%;
    background-color: #312C2C;
    border: 0;
    border-radius: 10px;
    font-weight: 500 ;
}

.buscador::placeholder{
    font-style: italic;
    font-weight: 100 ;
}



.filtro button{
    color: #ffffff;
    font-weight: 400;
    margin: 2px;
    background-color: #312C2C;
    border: none;
    display: flex;
    align-items: center;
    border-left: 1px solid #8f8f8f;
    margin-right: 20px;
}

.filtro button:hover{
    background-color: #e0e0e0;
}

.filtro button i {
    margin: 8px;
    margin-right: 16px;
    margin-left: 16px;
   object-fit:cover ;
}






.tabla{
    margin-top: 10px;
    margin: 100px;
    border-radius: 10px;
    
    
}

.contendedor-informacion{
    width: 100%;
    height: 90%;
    padding: 0 15px;
    overflow: auto;
    
}

::-webkit-scrollbar {
    width: 8px; 
   
  }

  ::-webkit-scrollbar-thumb {
   
    background-color: #9e9c9c;
    border-radius: 5px; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #333;

    
  }



  .titulo-filtro{
    background-color: #312C2C;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    padding: 5px;
}


.titulo-filtro h1{
    margin: 5px 10px;
    color: #ffffff;
    font-size: 20px;
   
}


.fila{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-bottom: 1px solid #747474;
}


.nombre-entrevista-check{
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.nombre-entrevista-check img{

    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 10px;

}

.nombre-entrevista-check h4{
    margin: 0;
    color: #4e4e4e;
    font-size: 20px;


}

.usurio-botones{
    display: flex;
    gap: 20px;
    align-items: center;
    
}


.usurio-botones button{
 font-weight: 600;
    
}

.usurio-botones img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    
}

.indice {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}

.indice h2{
    font-weight: bolder;
}


.logo {
    margin: auto;
    position: absolute;
    width: 4rem;
    margin-top: -2rem;
    margin-left: -17rem;
}


.contendedor-informacion {
    background-color: #b1a8a8 !important;
}


