*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
    font-weight: 1000;
}
.background {
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20rem;
    margin-left: 14rem;
    height: 67rem;
    width: 67rem;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
}

.logo {
    margin: auto;
    position: absolute;
    width: 4rem;
    margin-top: -2rem;
    margin-left: -17rem;
}

  /* Adjust the sidebar width and background color */
  .col-3 {
    min-height: 100vh; /* Optional: Set a minimum height to the sidebar */
  }

  /* Hide dropdowns by default */
  .dropdown {
    display: none;
  }

  /* Show dropdowns when hovering over the parent nav item */
  .nav-item:hover .dropdown {
    display: block;
  }

  .render {
    color: white;

  }

  .render h2{
    font-weight: bolder;
  }

  .render h5{
    font-weight: bolder;
  }

  .searching {
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    background-color: #312C2C ;
  }
  .card {
    background-color: #312C2C !important;
    border-radius: 30px !important;
    margin-top: 30px;
  } 

  .cards {
    background-color: #312C2C;
  }


.cardis{
    margin-top: 5rem;

}

.vinosimage {
    display: flex;
    justify-content: center;
    width: 180px;
}

.infovino {
    margin: 16px;
}
.infovino h6 {
    font-size: 14px;
    font-weight: bolder;
    margin: -10px;
}

.infovino h4 {
    font-size: 14px;
    font-weight: bolder;
}

.sesion{
  background-color: #191717;
  font-weight: bolder;
  color: white;
  padding: 0.7rem;
  border-radius: 30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: absolute;
}


.sesion h6{
    font-weight: bolder;
    font-size: 11px;
}

.exit {
  background-color: #191717;
  font-weight: bolder;
  color: white;
  padding: 0.7rem;
  border-radius: 30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 64rem;
  position: absolute;
}

.detalles{
  margin-top: 30px !important;
}

.dropdown-item{
  color: white !important
}

.dropdown-item:hover{
  background-color: yellow;
}