<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Golden Wines </title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="stylesheet" href="../assets/css/cotizaciones.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="background-color: #191717; font-family: 'Montserrat', sans-serif;">

    <nav> 
        <ul class="navbar nav justify-content-center m-5">
            <a href="index.html"> 
                <img src="../assets/img/logo.png" class="logo">
            </a>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="dashboard.html"> Inicio </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="vinos.html"> Vinos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="proveedores.html"> Proveedores </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="vinedos.html"> Viñedos </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cotizaciones.html"> Cotizaciones </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="resenas.html"> Reseñas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Contacto </a>
              </li>
               <a href="../views/index.html" class="sesion" data-bs-toggle="modal" data-bs-target="#Login"> <i class="bi bi-box-arrow-left"></i> </a>
          </ul>
         
        </nav>

        <div class="background">
        </div>
    
        
        <div class="indice">
            <h2> Cotizaciones </h2>

          </div>

          <div class="howto">
            <h2> ¿Como hacer tus cotizaciones? </h2>
            <h6> Si necesitas una cotización para un evento, 
               <br> diligencia tus datos y la fecha 
               <br> en la que requieres tus productos, 
               <br> nosotros nos pondremos en contacto 
               <br> en máximo 2 días hábiles. Recuerda
               <br> indicar si cotizas tus licores para un 
               <br> negocio o para un evento especial. </h6>
          </div>
</body>
</html>