<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Golden Wines </title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="background-color: #191717; font-family: 'Montserrat', sans-serif;">
    <nav> 
        <ul class="navbar nav justify-content-center m-5">
            <a href="index.html"> 
                <img src="../assets/img/logo.png" class="logo">
            </a>
            <li class="nav-item">
                <a class="nav-link"  href="dashboard.html"> Inicio </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="vinos.html"> Vinos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="proveedores.html"> Proveedores </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="viñedos.html"> Viñedos </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cotizaciones.html"> Cotizaciones </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Reseñas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Contacto </a>
              </li>
              <a href="../views/index.html" class="sesion" data-bs-toggle="modal" data-bs-target="#Login"> <i class="bi bi-box-arrow-left"></i> </a>
          </ul>
    
        </nav>
   
   
    <div class="background">
    </div>

    <div class="indice">
        <h2> ¡Bienvenido a <br> Golden Wines! </h2>
        <br> <h4> ¿Que quieres hacer hoy?</h4>
        <i class="bi bi-arrow-right-circle-fill"></i>
    </div>


    <div class="contenido">
        <div class="row"> 
        <div class="card col-5" style="width: 18rem;">
            <div class="card-body">
                <img src="../assets/img/set.png" class="card-img-top" alt="...">
              <p class="card-text"> Indaga por nuestros vinos y conoce nuevos gustos.</p>
              <a href="vinos.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
            </div>
          </div>
          <div class="card col-5" style="width: 18rem;">
            <div class="card-body">
                <img src="../assets/img/vinos.png" class="card-img-top"  alt="...">
              <p class="card-text"> Conoce a nuestros proveedores y contacta con ellos. </p>
              <a href="proveedores.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
            </div>
          </div>
        </div>
        <div class="row"> 
        <div class="card col-5" style="width: 18rem;">
            <div class="card-body">
                <img src="../assets/img/uvas.png" class="card-img-top" alt="...">
              <p class="card-text"> Explora el mundo vinicola con los viñedos de Colombia. </p>
              <a href="viñedos.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
            </div>
          </div>
          <div class="card col-5" style="width: 18rem;">
            <div class="card-body">
                <img src="../assets/img/factu.png" class="card-img-top" alt="...">
              <p class="card-text"> Cotiza tu pedido a largo plazo. ¡Habrán mejores precios! </p>
              <a href="cotizaciones.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
            </div>
          </div>
        </div>
        <div class="row"> 
            <div class="card col-5" style="width: 18rem;">
                <div class="card-body">
                    <img src="../assets/img/san.png" class="card-img-top" alt="...">
                  <p class="card-text"> Lee las reseñas de nuestros catadores a los vinos de nuestro sistema. </p>
                  <a href="reseñas.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
                </div>
              </div>
              <div class="card col-5" style="width: 18rem;">
                <div class="card-body">
                    <img src="../assets/img/contacto.png" class="card-img-top" alt="...">
                  <p class="card-text"> ¡Contacta con nosotros! </p>
                  <a href="contacto.html"> <button class="btn">  Ver más <i class="bi bi-caret-right-fill"></i> </button></a>
                </div>
              </div>
            </div>
    </div>

      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>