<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Golden Wines </title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="stylesheet" href="../assets/css/registro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="background-color: #191717; font-family: 'Montserrat', sans-serif;">

    <nav> 
    <ul class="navbar nav justify-content-center m-5">
          <a class="sesion" href="../views/index.html"> <i class="bi bi-caret-left-fill"></i>  Volver </a>
      </ul>

    </nav>

<!--     <main class="wines">
        <img src="../assets/img/logo.png">
        <b> <h2 class="title1" style="color:white; text-align: center;"> ¡Registrate para conocer <br> el mundo colombovinicola! </h2> </b>
        <br> <h5 style="text-align: center;">  </h5>
    </main> -->

    <div class="background">
    </div>

    <div class="row"> 
        <div class="col-4">
            <img src="../assets/img/trivento.png" class="golden">
        </div>
        <div class="col-6"> 
            
        <div class="container-register row">
            
        <div class="lado-esquerdo col-4">
            <h3> ¡Registrate! </h3>
            <br> <img src="../assets/img/logo.png" class="logo">
            <h6> Golden Wines </h6>
        </div>
        <div class="lado-erecho col-8">
            <div class="formularesito"> 
              <br>  <h3> ¡Descubre el mundo Colombovinicola! </h3>
            <br> <form class="formulario" action="">
                <div class="mb-3">
                    <label for="nombre" class="form-label"> Nombre del usuario </label>
                        <input 
                          type="text"
                          id="nombre"
                          name="nombre"
                          class="form-control"  
                        />
                    </div>
                <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                    <input 
                      type="text"
                      id="email"
                      name="email"
                      class="form-control"  
                    />
                </div>
                <div class="mb-3">
                <label for="password" class="form-label"> Contraseña </label>
                    <input 
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"  
                    />
                    </div>
                    <div class="mb-3">
                    <label for="rol" class="form-label"> Rol de usuario </label>
                        <select name="rol" id="rol" class="form-control">
                         <option value="USER"> User </option> 
                         <option value="CATADOR"> Catador </option> 
                         <option value="SUMINISTRADOR"> Suministrador </option> 
                        </select>
                        </div>
                        <div class="contenedorBoton">
                            <div class="boton">
                                <input type="submit" value="Registrarse" class="botonEntrar">
                            </div>
                    </div>
        </div>
        </div>
        
    </div>
</div>
    </div>
    

<!--     Modal de inicio de sesión -->



      <script src="../components/registro.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>