<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Golden Wines </title>
    <link rel="shortcut icon" href="../assets/img/logo.png">
    <link rel="stylesheet" href="../assets/css/viñedos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="background-color: #191717; font-family: 'Montserrat', sans-serif;">
    <nav> 
        <ul class="navbar nav justify-content-center m-5">
            <img src="../assets/img/logo.png" class="logo">
            <li class="nav-item">
                <a class="nav-link"  href="index.html"> Inicio </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="vinos.html"> Vinos </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="proveedores.html"> Proveedores </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="viñedos.html"> Viñedos </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cotizaciones.html"> Cotizaciones </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Reseñas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Contacto </a>
              </li>
              <button class="sesion" data-bs-toggle="modal" data-bs-target="#Login"> Inicia sesión </button>
          </ul>
    
        </nav>

        <div class="background">
        </div>

        <div class="indice">
            <h2> Viñedos </h2>
              <h5> Inicio / Viñedos </h5>
              <h6> ¡Descubre nuevas localizaciones en Colombia de los viñedos! </h6>
  
          </div>

          <div class="viñedos"> 
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/0a/aa/95/vinedo-umana-dajud.jpg?w=500&h=400&s=1" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Viñedo Umana Dajud</h5>
                  <p class="card-text"> <i class="bi bi-geo-alt-fill"></i> Villa de Leyva, Boyacá, Colombia </p>
                  <button class="btn-warning conoce"> Conoce </button>
                </div>
              </div>
            </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/4e/3f/a8/luigy.jpg?w=500&h=400&s=1" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"> Viñedo Ain Karim </h5>
                      <p class="card-text"> <i class="bi bi-geo-alt-fill"></i> Villa de Leyva, Boyacá, Colombia </p>
                      <button class="btn-warning conoce"> Conoce </button>
                    </div>
                  </div>
                </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/0a/aa/95/vinedo-umana-dajud.jpg?w=500&h=400&s=1" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Viñedo Marqués de Puntalarga </h5>
                  <p class="card-text"> <i class="bi bi-geo-alt-fill"></i> Nobsa, Boyacá, Colombia. </p>
                  <button class="btn-warning conoce"> Conoce </button>
                </div>
              </div>
            </div>
      </div>
</body>
</html>